body {
  margin: 0px;
  padding: 0px;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 1em;
  text-align: center;
}

.display-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

